<html>
  <head>
     <link rel="stylesheet" type="text/css" href="css/styles.css"/>
  </head>
  <body>
		<header id="header"></header>
		<input type="hidden" id="username" class="username" placeholder="username" autocomplete="off"/>
	<div class="chat-popup" id="clientForm">
	  <form class="form-container" novalidate>
		<h3>Chat with admin</h3>
		<div>
		   <ul id="clientmessages" class="clientmessages">
		   </ul>
		</div>
		<input placeholder="Type message.." class="message" id="message" name="msg" autocomplete="off"></input>
	  </form>
	</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="js/clientChat.js"></script>
  </body>
</html>